.book{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin:10px; */
    /* width: 1000px;  */
    /**
    1000px looks good for list view
    */
    height:100%;
}

.book:hover{
    
}
.imageContainer{
    margin: 0 auto;
}
.imageContainer > img{
    
}

.book-info{ 
    color:black;
}

.title{
    font-size: medium;
}


.releaseDate{
    font-size: small;
}