.filter-container{
    margin:20px;
}


.filter-container > *{
    margin: 0 auto;
}

.content-container{
    display:flex;

}


.sidebar-container{
    margin :10px;
    background-color: green;
    padding:10px;

}
.table{
    display: flex;
    flex-wrap: wrap;   

}
.link{
    text-decoration: none;
    color:white;
    flex-basis: auto ;
    flex: 1 1 0px;
    margin: 10px;
    margin-bottom: 2rem;
    margin-right:1rem;

    /*
    flex is short for: 
    flex-grow , flex-shrink, flex-basis 
    */
    
    transform-style: preserve-3d;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.link:not(:hover){
    transform: rotateX(0deg) rotateY(0deg);
}
