.filter-container{
    margin:20px;
}

.filter-container > *{
    margin:auto;
}

.content-container{
    display:flex;

}

.table{
    display: flex;
    flex-wrap: wrap;   

}

.sidebar-container{
    margin :10px;
    background-color: green;
    padding:10px;

}

.link{
    text-decoration: none;
    color:white;
    flex-basis: auto ;
    flex: 1 1 0px;
    
    transform-style: preserve-3d;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.link:not(:hover){
    transform: rotateX(0deg) rotateY(0deg);
}
.flex-item{
    
}